<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <% include ./_layouts/head %>
    <link href="/assets/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />
    <style>
      .alignstatus {
        align-self: center;
      }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.18.0/min/vs/loader.js"
      integrity="sha256-c3vLHJGmaW4thtkD3xcSLlm2tHRG3nyt49P0DAEuCsQ="
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="md-skin">
    <% include ./_layouts/header %>
    <div id="wrapper">
      <% include ./_layouts/sidebar %>
      <div id="page-wrapper" class="gray-bg">
        <% include ./_layouts/search %>

        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
            <div class="col-lg-7">
              <div id="editor" style="height:600px;border:1px solid grey;"></div>
            </div>
            <div class="col-lg-5">
              <div id="result" style="height:600px;border:1px solid grey;"></div>
            </div>
          </div>
        </div>

        <% include ./_layouts/footer %>
      </div>
    </div>
    <% include ./_layouts/foot %>
    <script src="/assets/js/app/editor.js"></script>
    <script>
      /*$.ajax({
          url:{api_url},
          headers:{access_token: $.cookie('access_token')},
          method:'POST',
          data: {formData}
      })
      .done(d => {
        console.log(d);
      })
      .fail(e=>{
          console.log(e.responseJSON);

      }) */
    </script>
  </body>
</html>
